<head>
    <meta charset="utf-8" />
    <title>
        {% if page.title %}
            {{page.title}} - {{site.title}}
        {% else%}
            {{site.title}}
        {% endif %}
    </title>

    <meta name="description" content="{{ page.description }}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Plugins -->
    {% seo %}
    {% feed_meta %}

    <!-- Styles -->
    <!-- <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}"> -->

    <!-- Scripts -->
    <script src="{{ "/assets/js/home.bundle.js" | relative_url }}"></script>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
